[Unit]
Description=Akroma Client -- masternode service
After=network.target

[Service]
{%- if args.user %}
User={{ args.user }}
Group={{ args.user }}
{%- endif %}
Type=simple
Restart=always
RestartSec=30s
{%- if args.memory %}
{%- if os_family == 'RedHat' %}
Environment="LD_PRELOAD=/usr/lib64/libjemalloc.so.1"
{%- elif os_family == 'Debian' %}
Environment="LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libjemalloc.so.1"
{%- endif %}
{%- endif %}
ExecStart=/usr/sbin/geth --masternode {%- if args.port != 30303 %} --port {{ args.port }} {%- endif %} --rpcport {{ args.rpcport }} --rpcvhosts * {%- if args.rpcuser %} --rpcuser {{ args.rpcuser }} --rpcpassword {{ args.rpcpassword }} {%- endif %}

[Install]
WantedBy=default.target

