[Unit]
Description=Akroma Client -- masternode service
After=network.target

[Service]
{%- if args.user %}
User={{ args.user }}
Group={{ args.user }}
{%- endif %}
Type=simple
Restart=always
RestartSec=30s
ExecStart=/usr/sbin/geth-akroma --masternode {%- if args.port != 30303 %} --port {{ args.port }} {%- endif %} --rpcport {{ args.rpcport }} --rpcvhosts * {%- if args.rpcuser %} --rpcuser {{ args.rpcuser }} --rpcpassword {{ args.rpcpassword }} {%- endif %}

[Install]
WantedBy=default.target

